log-level: info

http:
  ip: 127.0.0.1
  port: 8080

modbus:
  run: true # Read metrics from inverters every interval
  read-metrics-interval: 15 # Seconds

  connections:
    - name: port1 moxa
      ip: 127.0.0.1
      port: 520
      protocol: rtuovertcp
      baudrate: 9600
      data-bits: 8
      stop-bits: 1
      timeout: 5 # Seconds
      inverters:
        - name: "inverter1"
          unit-id: 1
          power-meter: false
          luna2000: true
        - name: "inverter2"
          unit-id: 2
          power-meter: true
          luna2000: true

power-prices:
  sources:
    entsoe:
      # Domains can be found here: https://transparency.entsoe.eu/content/static_content/Static%20content/web%20api/Guide.html#_areas
      domain: "10YNL----------L"
      # You will need to contact Entsoe support to get access to their API.
      security-token: ""

victoria-metrics:
  url: http://127.0.0.1:8428
  # Basic HTTP authentication
  username:
  password:

control:
  run: true # Run control loop?
  # How often to run checks in seconds. 
  # I'm not sure how well the batteries like being set to discharge and stop every 5s so I think you do not want to change this below 30s.
  loop-interval: 30
  minimum-solar-over-production: 10 # Minimum percentage solar over production. This is the percentage of unused power.
  over-discharge-percentage: 3 # What percentage to over discharge. Handy for spikes in energy usage
