log-level: info

http:
  ip: 127.0.0.1
  port: 8080

modbus:
  run: true # Read metrics from inverters every interval
  read-metrics-interval: 15 # Seconds

  connections:
    - name: port1 moxa
      ip: 127.0.0.1
      port: 520
      protocol: rtuovertcp
      baudrate: 9600
      data-bits: 8
      stop-bits: 1
      timeout: 5 # Seconds
      inverters:
        - name: "inverter1"
          unit-id: 1
          power-meter: false
          luna2000: true
        - name: "inverter2"
          unit-id: 2
          power-meter: true
          luna2000: true

power-prices:
  sources:
    all-in-power:

victoria-metrics:
  url: http://127.0.0.1:8428
  # Basic HTTP authentication
  username:
  password:
