log-level: info

http:
  ip: 127.0.0.1
  port: 8080

modbus:
  read-metrics-interval: 15 # Seconds

  connections:
    - name: inverter1
      ip: 127.0.01.
      port: 520
      protocol: rtuovertcp
      baudrate: 9600
      data-bits: 8
      stop-bits: 1
      timeout: 5 # Seconds
      unit-id: 1
